<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador - Nosotros</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->
    <div class="search-bar"> <!-- search-bar -->
      <div class="search-bar__logo-container">Logo</div>
      <form action="" class="search-bar__form-container">
        <label for="busqueda" class="search-bar__form-label">Buscar</label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" value="Buscar" class="search-bar__form-submit">
      </form>
      <div class="search-bar__carrito-container">Carrito</div>
    <div class="menu-toggle">
        <label for="menu" class="menu-toggle__label">
          <span class="menu-toggle__top-bread"></span>
          <span class="menu-toggle__meat"></span>
          <span class="menu-toggle__bottom-bread"></span>
        </label>
      </div>
    </header>
    <main class="container-aboutus">
      <section class="container-aboutus__hero">
        <h2 class="container-aboutus__title">Nosotros</h2>
        <img class="container-aboutus__image" src="../public/img/nosotros.jpg" alt="">
        <div class="container-aboutus__format">
        <h3 class="container-aboutus__subtitle">Navegando la Vanguardia Tecnológica</h3>
        <hr>
          <p class="container-aboutus__paragraph1">Explora el sinfín de posibilidades en un mundo de circuitos y pixeles; nuestra tienda es el lienzo donde la tecnología y el estilo se entrelazan en una danza vanguardista de dispositivos y sueños digitales.</p>
          </div>
      </section>
    </main>


  <script type="module" src="/main.js"></script>
</body>

</html>