.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 15px 0;
    box-shadow: gray -5px 0 8px;
    &__social {
        padding: 0 15px;
    }
    
    &__link {
        padding: 0 15px;
    }

    &__link:hover {
        color:#0072bd ;
    }
}